<header>
    <div>
        <div class="menu_top">
            <a href=""><img id="logo" src="\assets\imagens\LOGO.png"></a>
            <ul class="avatar2">
                <a href="login.html">
                    <p id="login">Faça seu cadastro</p>
                    <img width="100%" id="logodoavatar" src="assets/imagens/loginimagem.png">
                </a>
            </ul>
            <a href="" target="_blank" rel="noreferrer">
                <img class="imagemheader" id="fone" src="\assets\imagens/fone.png">
            </a>
            <a href="" target="_blank" rel="noreferrer">
                <img class="imagemheader" id="carrinho" src="\assets\imagens/cart.png">
            </a>
        </div>
        <nav id="menu" class="menu">
            <a href="">Destaques</a>
            <a href="#">Lançamentos</a>
            <a href="#">PC Gamer</a>
            <a href="#">Eletrônicos</a>
            <a href="#">Peças</a>
        </nav>
    </div>

</header>